
.card {
 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color:black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: antiquewhite;
}


.imgcard {
  width: 150px;
  height: 150px;
  object-fit: contain;
}


.nameblok {
  margin-top: 10px;
  font-size: 30px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card:hover{
     cursor: pointer;
    transition: all 1s;
    transform: scale(1.1);
}