.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:60px;
  padding: 80px 0px;
  justify-items: center;

  
}

.card{
  background-image: url();

  height: 100vh;
}
.boxmini{
  background-image: url(..//../assets/Image/back.jpg);
  background-size: cover;
  background-size: 100vh;
}