.products-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  padding: 20px;

}

.card {
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 230px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.imgcard {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.nameblok {
  color: white;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px 0;
  min-height: 40px;
}
.price{
    color: white;
}