.reg-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reg-modal {
  width: 900px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  position: relative;
}

.close-reg {
  position: absolute;
  right: 15px;
  top: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.open-reg-btn {
  padding: 12px 20px;
  background: #2e86ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.open-reg-btn:hover {
  background: #1666d6;
}
.register-box{
    padding: 40px 0px;
}